/* место для вашего кода */
/* #2 Оно тебе надо - Главная */

body {
    position: relative;
    background: #FFFFFF;
}

.header {
    position: absolute;
    width: 1100px;
    height: 293px;
    left: 0;
    top: 0;
}

.header__menu {
    position: absolute;
    width: 391.48px;
    height: 22px;
    left: 50px;
    top: 133px;
}

.header__logo-image {
    position: absolute;
    width: 148px;
    height: 105px;
    left: calc(50% - 148px/2 + 2px);
    top: 92px;
}

.address{
    display:flex;
    flex-direction: column;
    position: absolute;
    width: 240px;
    height: 98px;
    right: 50px;
    top: 95px;
}

.address__phonenumber {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: underline;

}

.address__email {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: underline;

}

.address__address {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;


}

.header__links-list {
    display: flex;
    justify-content: space-between  ;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;


}

.header__links-list-item {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    list-style-type: circle;

    color: #000000;


}







